<a href="https://colab.research.google.com/github/SaChIn5419/Data-science-workshop-/blob/main/EMS_hw.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Step 1: Plan the Data Storage
# Initialize a dictionary to store employee data
employees = {
    101: {'name': 'Satya', 'age': 27, 'department': 'HR', 'salary': 50000},
    102: {'name': 'Ravi', 'age': 30, 'department': 'IT', 'salary': 60000},
    103: {'name': 'Anita', 'age': 25, 'department': 'Finance', 'salary': 55000}
}

In [2]:
# Step 2: Define the Menu System
def main_menu():
    while True:
        print("\n--- Employee Management System ---")
        print("1. Add Employee")
        print("2. View All Employees")
        print("3. Search for Employee")
        print("4. Exit")

        choice = input("Enter your choice (1-4): ")

        if choice == '1':
            add_employee()
        elif choice == '2':
            view_employees()
        elif choice == '3':
            search_employee()
        elif choice == '4':
            print("Thank you for using the Employee Management System. Goodbye!")
            break
        else:
            print("Invalid choice! Please enter a valid option.")

In [3]:
# Step 3: Add Employee Functionality
def add_employee():
    try:
        emp_id = int(input("Enter Employee ID: "))
        if emp_id in employees:
            print("Employee ID already exists. Please enter a unique ID.")
            return
        name = input("Enter Employee Name: ")
        age = int(input("Enter Employee Age: "))
        department = input("Enter Employee Department: ")
        salary = float(input("Enter Employee Monthly Salary: "))

        # Add employee to the dictionary
        employees[emp_id] = {
            'name': name,
            'age': age,
            'department': department,
            'salary': salary
        }
        print(f"Employee {name} added successfully!")
    except ValueError:
        print("Invalid input. Please enter the correct data type.")

In [4]:
# Step 4: View All Employees
def view_employees():
    if not employees:
        print("No employees available.")
        return

    print("\n--- Employee List ---")
    print(f"{'ID':<10}{'Name':<15}{'Age':<10}{'Department':<15}{'Salary':<10}")
    print("-" * 60)
    for emp_id, details in employees.items():
        print(f"{emp_id:<10}{details['name']:<15}{details['age']:<10}{details['department']:<15}{details['salary']:<10.2f}")

In [5]:
# Step 5: Search for an Employee by ID
def search_employee():
    try:
        emp_id = int(input("Enter Employee ID to search: "))
        if emp_id in employees:
            print("\n--- Employee Details ---")
            print(f"Name: {employees[emp_id]['name']}")
            print(f"Age: {employees[emp_id]['age']}")
            print(f"Department: {employees[emp_id]['department']}")
            print(f"Salary: {employees[emp_id]['salary']}")
        else:
            print("Employee not found.")
    except ValueError:
        print("Invalid input. Please enter a numeric Employee ID.")

In [7]:
# Start the program
if __name__ == "__main__":
    main_menu()

--- Employee Management System ---
1. Add Employee
2. View All Employees
3. Search for Employee
4. Exit
Enter your choice (1-4): 1
Enter Employee ID: 104
Enter Employee Name: Sachin
Enter Employee Age: 24
Enter Employee Department: data
Enter Employee Monthly Salary: 75000
Employee Sachin added successfully!

--- Employee Management System ---
1. Add Employee
2. View All Employees
3. Search for Employee
4. Exit
Enter your choice (1-4): 2

--- Employee List ---
ID        Name           Age       Department     Salary
------------------------------------------------------------
101       Satya          27        HR             50000.00
102       Ravi           30        IT             60000.00
103       Anita          25        Finance        55000.00
104       Sachin         24        data           75000.00

--- Employee Management System ---
1. Add Employee
2. View All Employees
3. Search for Employee
4. Exit
Enter your choice (1-4): 3
Enter Employee ID to search: 102

--- Employee Details ---
Name: Ravi
Age: 30
Department: IT
Salary: 60000

--- Employee Management System ---
1. Add Employee
2. View All Employees
3. Search for Employee
4. Exit
Enter your choice (1-4): 4
Thank you for using the Employee Management System. Goodbye!